<B_articles2>
    <ul class="list-unstyled">
        <BOUCLE_articles2(ARTICLES){id_rubrique}{par date}{inverse}{0,10}>
        <li class="item hentry">
            [(#DATE|affdate) : ]<a class="[(#EXPOSE)]" href="#URL_ARTICLE">#TITRE</a>
        </li>
        </BOUCLE_articles2>
        </ul>
</B_articles2>