<INCLURE{fond=inclure/articles,env} />
[(#SET{tabevt,#ARRAY})]
<B_agenda>
    <h2 class="h2"><a href="#URL_RUBRIQUE">Agenda</a></h2>
    <ul class="mini_agenda">

        <BOUCLE_agenda(EVENEMENTS){ignore_magnet}{age<=0}{id_article}{par date}{doublons}>
        <li>
            [(#SET{logo,#LOGO_EVENEMENT})]

            <BOUCLE_condition(CONDITION){si #ID_EVENEMENT_SOURCE|=={0}|ou{#ID_EVENEMENT|in_array{#GET{tabevt}}|non}}>
            <BOUCLE_evt_source(EVENEMENTS){id_evenement=#ID_EVENEMENT_SOURCE}>
            [(#SET{logo,#LOGO_EVENEMENT})]
            </BOUCLE_evt_source>


            <a href="[(#GET{url_article})]" rel="bookmark" [data-event="(#URL_PAGE{evt_ajax,id_evenement=#ID_EVENEMENT})"]>
                <div class="item">
                    [ <div class="logo pull-left"><img src="(#GET{logo}|image_reduire{80,80}|extraire_attribut{src})" class="img-rounded spip_logos" /></div>]
                    <div class="date">[(#DATE_DEBUT|affdate_court)][ (#HORAIRE|=={oui}|oui)[(#DATE_DEBUT|heures) h][(#DATE_DEBUT|minutes|!={00}|oui)[(#DATE_DEBUT|minutes)]]]</div>
                    <div class="titre">#TITRE</div>
                    <div class="lieu">#LIEU</div>
                    [(#SET{date_debut,#DATE_DEBUT})]
                </div>
            </a>
            </BOUCLE_condition>
            [(#SET{tabevt,#GET{tabevt}|push{#ID_EVENEMENT_SOURCE}})]
            <div class="nettoyeur"></div>
        </li>


        </BOUCLE_agenda>
    </ul>
</B_agenda>

