<B_actu>
<h3>Actualités</h3>

    <ul class="liste-items">
        <BOUCLE_actu(ARTICLES){id_rubrique=24}{id_association}{0,4}{par date}{inverse}>
        <li class="item hentry">
            <div class="logo"><a href="#URL_ARTICLE" rel="bookmark">[(#LOGO_ARTICLE_RUBRIQUE|left|image_reduire{60,0}|image_recadre{50,50})]</a></div>
            [<div class="date_publication">(#DATE|affdate)</div>]
            <div class="titre">
                <a href="#URL_ARTICLE" rel="bookmark">#TITRE</a>
            </div>
            <div class="clearfix"></div>
        </li>
        </BOUCLE_actu>
    </ul>
</B_actu>

[(#SET{tabevt,#ARRAY})]
<B_agenda>
<h3>Agenda</h3>
    <ul class="mini_agenda">
        <BOUCLE_agenda(EVENEMENTS){ignore_magnet}{age<=0}{id_association}{par date}{doublons}>
        <li>
            <INCLURE{fond=inclure/resume/evt2}{id_evenement=#ID_EVENEMENT}/>
        </li>
        </BOUCLE_agenda>
    </ul>
</B_agenda>



<h3>Association proche</h3>




