[(#REM) Associations trouves ]
<B_associations>
<div class="liste resultats associations">
	#ANCRE_PAGINATION
	<h2 class="h2">[(#ENV{titre}|sinon{<:associations:>}) ](#GRAND_TOTAL)</h2>
	<ul class="liste-items">
		<BOUCLE_associations(ASSOCIATIONS) {recherche}{par points}{inverse} {pagination #ENV{pagination,20}}>
		<li class="item"><a href="#URL_ASSOCIATION">#NOM</a></li>
		</BOUCLE_associations>
	</ul>
	[<div class="pagination">(#PAGINATION)</div>]
</div>
</B_associations>
