[(#REM) Evenements trouves ]
<B_evenements>
<div class="liste resultats evenements">
	#ANCRE_PAGINATION
	<h2 class="h2">[(#ENV{titre}|sinon{<:evenements:>}) ](#GRAND_TOTAL)</h2>
	<ul class="liste-items">
		<BOUCLE_evenements(EVENEMENTS) {recherche}{par points}{inverse} {pagination #ENV{pagination,20}}>
		<li class="item">
			<INCLURE{fond=inclure/resume/evt2}{id_evenement=#ID_EVENEMENT}/>
		</li>
		</BOUCLE_evenements>
	</ul>
	[<div class="pagination">(#PAGINATION)</div>]
</div>
</B_evenements>
