
<BOUCLE_resume_association(ASSOCIATIONS){id_association}{tous}>
<div class="element-item col-md-6 <BOUCLE_MOT(MOTS){id_association}{" "}>mot#ID_MOT</BOUCLE_MOT>">
	<a href="#URL_ASSOCIATION" class="list-group-item">
	[<div class="logo pull-left">(#LOGO_ASSOCIATION|#URL_ASSOCIATION|image_reduire{100,100}|inserer_attribut{class,"img-responsive img-rounded"})</div>]
		[<div class="nom h4 #EDIT{sigle}">(#SIGLE) [(#NOM|!=={#SIGLE}|oui)<small>#NOM</small>]</div>]
		<div class="texte">
			[(#OBJET_ASSOCIATIF|textebrut|couper{400})]


		</div>

		</a>
<div class="clearfix"></div>
</div>
</BOUCLE_resume_association>