

[(#REM) <!-- Affichage du copyright et outils du site --> ]
<div class="pied_bas">
	[(#PIPELINE{pied_debut,
		[(#ARRAY{args, '', data, ''})]}
	)]


<div class="row-fluid">

	<div id="bloc_heurovelo" class="col-md-6">
		<div class="inner">



			<BOUCLE_heurovelo(DOCUMENTS){id_article=677} {par date}{inverse} {0,1}>
			<div class="liste forums">
				<h3 class="h3">L’ HeurOvélO- dernier numéro</h3>
				[(#LOGO_DOCUMENT|#URL_DOCUMENT|image_reduire{200,300})]

				<div class="titre"><a href="#URL_DOCUMENT">#TITRE</a></div>
			</div>
			</BOUCLE_heurovelo>


		
		</div>
	</div>

	<div id="bloc_reseau" class="col-md-6">

		<div class="sommaire_infolettre">
			<h2 class="h2">M'inscrire à la newsletter</h2>
			<!--<p>Pour communiquer et échanger en continu avec les autres acteurs régionaux de l'écomobilité</p>-->
			[(#FORMULAIRE_NEWSLETTER_INSCRIPTION)]
		</div>
		<div class="inner">
			<h2 class="h2">Suivez nous...</h2>
				[(#INCLURE{fond=inclure/sociaux})]
		</div>
	</div>

</div>
<div class="row-fluid">



<BOUCLE_annee(ARTICLES){par date}{0,1}>[(#DATE|annee|!={#VAL{Y}|date}|oui)[(#DATE|annee)]]</BOUCLE_annee>-</B_annee>[(#DATE|annee) ] &mdash; #NOM_SITE_SPIP

[<div id="menu_bas_de_page" class="menu">
        (#INCLURE{fond=inclure/menu, env, identifiant=basdepage})
    </div>]

</div>



</div>










