<span><:trier_par:>&nbsp;:&nbsp;</span>

	#SET{tri_critere,#ARRAY{0,date,1,titre}}

	[(#ENV{recherche_en_cours}|=={true}|oui)
	#SET{tri_critere,#ARRAY{0,popularite,1,date,2,titre,3,points}}]



	<B_tri>
	<ul class="list-inline">
	<BOUCLE_tri(POUR){tableau #GET{tri_critere}}>
			#SET{ordre,""}
			[(#ENV{tri}|=={#VALEUR}|oui) [(#ENV{ordre}|=={""}|oui) #SET{ordre,on}]]
			<li[(#ENV{tri}|=={#VALEUR}|oui) [  class="(#ENV{ordre}|=={""}|?{tri_asc,tri_desc})"]]><a href="[(#SELF|parametre_url{'tri',#VALEUR}|parametre_url{'ordre',#GET{ordre}})]" class="ajax"><?php echo(_T('tri_#VALEUR'));?></a></li>
	</BOUCLE_tri>
		</ul>
	</B_tri>			
	

