<div class="formulaire_spip formulaire_editer formulaire_editer_article formulaire_editer_article-#ENV{id_article,nouveau}">
    [<p class="reponse_formulaire reponse_formulaire_ok">(#ENV**{message_ok})<script>setTimeout(function(){ window.location.replace('#URL_SITE_SPIP?var_mode=calcul') }, 3000);</script></p>]
    [<p class="reponse_formulaire reponse_formulaire_erreur">(#ENV*{message_erreur})</p>]
    [(#ENV{editable})
    <form method='post' action='#ENV{action}'>
        <div>
            [(#REM) declarer les hidden qui declencheront le service du formulaire
            parametre : url d'action ]
            #ACTION_FORMULAIRE
            <input type='hidden' name='id_article' value='#ENV{id_article}'/>

            <div class="editer-groupe">

                <div class="form-group editer editer_titre obligatoire[ (#ENV**{erreurs}|table_valeur{titre}|oui)erreur]">
                    <label for="titre">
                        <:info_titre:>
                    </label>[
                    <span class='erreur_message'>(#ENV**{erreurs}|table_valeur{titre})</span>
                    ]<input type='text' class='text form-control' name='titre' id='titre' [ lang='(#LANGUE)' ]
                            value="[(#ENV**{titre,''})]"
                            placeholder="<:info_nouvel_article|attribut_html:>"/>
                </div>

                [<div class="form-element editer editer_parent[ (#ENV**{erreurs}|table_valeur{id_parent}|oui)erreur] hide">
                <label for="id_parent"><:titre_cadre_interieur_rubrique:><em class="aide">#AIDER{id_parent}</em></label>[
                <span class='erreur_message'>(#ENV**{erreurs}|table_valeur{id_parent})</span>
                ]
                (#VAL|chercher_rubrique{#ENV{id_article},#ENV{id_parent},'article',#ENV{id_secteur},#ENV**{config}|table_valeur{restreint},0,form_simple})
            </div>]


                [(#ENV**{config}|table_valeur{articles_descriptif}|=={non}|?{#ENV**{descriptif,''},' '}|oui)
                <div class="form-group editer editer_descriptif[ (#ENV**{erreurs}|table_valeur{descriptif}|oui)erreur]">
                    <label for="descriptif">
                        <:texte_descriptif_rapide:>
                    </label>[
                    <span class='erreur_message'>(#ENV**{erreurs}|table_valeur{descriptif})</span>
                    ]<textarea name='descriptif' id='descriptif' [ lang='(#LANGUE)' ] rows='2' cols='40'
                               class="form-control">[(#ENV**{descriptif})]</textarea>
                </div>
                ]


                [(#ENV**{config}|table_valeur{articles_texte}|=={non}|?{#ENV**{texte,''},' '}|oui)
                <div class="form-group editer editer_texte obligatoire[ (#ENV**{erreurs}|table_valeur{texte}|oui)erreur]">
                    <label for="text_area">
                        <:info_texte:>
                    </label>[
                    <span class='erreur_message'>(#ENV**{erreurs}|table_valeur{texte})</span>
                    ][(#ENV**{_texte_trop_long,''})]
                    <textarea name='texte' id='text_area' [ lang='(#LANGUE)' ]
                              cols='40' class="form-control">[(#ENV**{texte})]</textarea>
                </div>
                ]












                <div class="form-group editer editer_date fieldset"><fieldset><legend><:agenda:evenement_date:></legend>
                <ul>
                    <li class="editer editer_horaire[ (#ENV**{erreurs}|table_valeur{horaire}|oui)erreur]">
                        <label for="horaire"><:agenda:evenement_horaire:></label>[
                        <span class='erreur_message'>(#ENV**{erreurs}|table_valeur{horaire})</span>
                        ]<input type='checkbox' name='horaire' id='horaire' value='non' [(#ENV{horaire}|=={oui}|non)checked='checked']
                                onclick="if (this.checked==false) { $('span.afficher_horaire').show();} else {$('span.afficher_horaire').hide();}" />
                    </li>
                    <li class="editer editer_date_debut_fin[ (#ENV**{erreurs}|table_valeur{date_debut}|oui)erreur][ (#ENV**{erreurs}|table_valeur{date_fin}|oui)erreur]">
                        [
                        <span class='erreur_message'>(#ENV**{erreurs}|table_valeur{date_debut})</span>][
                        <span class='erreur_message'>(#ENV**{erreurs}|table_valeur{date_fin})</span>
                        ]<label for="date_debut"><:agenda:evenement_date_de:></label>
                        <input type="text" class="text date datepicker" name='date_debut' id='date_debut' size='10' maxlength='10' value="[(#ENV{date_debut})]" />
						<span class='afficher_horaire[(#ENV{horaire}|=={oui}|non)none]'>
						<label for='heure_debut' class='heure'><:agenda:evenement_date_a_immediat:></label>
						<input type='text' class='text heure' name='heure_debut' id='heure_debut' size='4' maxlength='5' value="[(#ENV{heure_debut})]"
                                /></span>


                        <label for="date_fin" class='date_fin'><:agenda:evenement_date_a:></label>
                        <input type="text" class="text date datepicker" name='date_fin' id='date_fin' size='10' maxlength='10' value="[(#ENV{date_fin})]" />

                        <span class='afficher_horaire[(#ENV{horaire}|=={oui}|non)none]'><label for='heure_fin' class='heure'><:agenda:evenement_date_a_immediat:></label>
						<input type='text' class='text heure' name='heure_fin' id='heure_fin' size='4' maxlength='5' value="[(#ENV{heure_fin})]"
                                /></span></li>
                </ul>
            </fieldset>
                </div>
                <div class="form-group editer editer_repetitions[ (#ENV**{erreurs}|table_valeur{repetitions}|oui)erreur]">
                <label for="repetitions"><:agenda:evenement_repetitions:></label>[
                (#ENV{repetitions}|non)<a href='#' onclick="$(this).hide().next().show('fast');return false;"><:agenda:ajouter_repetition:></a>
                <div class='ajouter_repetitions none'>][
                    <span class='erreur_message'>(#ENV**{erreurs}|table_valeur{repetitions})</span>
                    ]<div id='repetitions_picker'></div>
                    <textarea name="repetitions" id="repetitions">#ENV{repetitions}</textarea>[
                    (#ENV{repetitions}|non)</div>]
                </div>

            </div>


            <div class="form-group editer editer_date fieldset">
                <fieldset><legend><:agenda:evenement_emplacement:></legend>
                <div class="form-group editer editer_lieu[ (#ENV**{erreurs}|table_valeur{lieu}|oui)erreur]">
                    <label for="lieu"><:agenda:evenement_lieu:></label>[
                    <span class='erreur_message'>(#ENV**{erreurs}|table_valeur{lieu})</span>
                    ]<input type='text' class='text form-control' name='lieu' id='lieu' value="[(#ENV{lieu})]" />
                </div>
                <div class="form-group editer editer_adresse[ (#ENV**{erreurs}|table_valeur{adresse}|oui)erreur]">
                    <label for="adresse"><:agenda:evenement_adresse:></label>[
                    <span class="erreur_message">(#ENV**{erreurs}|table_valeur{adresse})</span>
                    ]<textarea name="adresse" rows="3" id="adresse"  class="form-control">[(#ENV{adresse})]</textarea>
                </div>
                </fieldset>
            </div>

            [<div class="form-group">
                (#SAISIE{auteurs, auteurs,
                label=Auteurs,
                multiple=oui})
            </div>]

            <!--extra-->
            <p class='boutons'><input type='submit' name="save" class='submit' value='<:bouton_enregistrer:>'/></p>
        </div>
    </form>
    ]
    <script type="application/javascript">
        $(document).ready(function () {
            $("#champ_mots").select2({
                tags: true,
                width:'100%',
                tokenSeparators: [','],
                createTag: function (params) {
                    var term = $.trim(params.term);

                    if (term === '') {
                        return null;
                    }

                    return {
                        id: term,
                        text: term,
                        newTag: true // add additional parameters
                    }
                }
            });

            $("#champ_auteurs").select2({
                tags: true,
                width:'100%',
                tokenSeparators: [','],
                createTag: function (params) {
                    var term = $.trim(params.term);

                    if (term === '') {
                        return null;
                    }

                    return {
                        id: term,
                        text: term,
                        newTag: true // add additional parameters
                    }
                }
            });


            $('.datepicker').datepicker();
        // Si changement de date_début, on change date_fin uniquement si inférieure à date_début
        $('#date_debut').on('change', function(){
            var debut_date     = $('#date_debut').datepicker("getDate");
            $('#date_fin').datepicker( "option", "minDate", new Date(debut_date));
        });
        var repetitions_done = false;
        $(document).bind('datePickerLoaded',function(){
            if (!repetitions_done){
                repetitions_done = true;
                $.getScript('#CHEMIN{javascript/jquery-ui.multidatespicker.js}',function(){
                    var multidate_picker_options = {altField: '#repetitions'};
                    /**
                     * Multidatepicker n'aime pas un array vide apparemment
                     */
                    if(jQuery('#repetitions').html() != ""){
                        multidate_picker_options.addDates = jQuery('#repetitions').html().split(',');
                    }
                    $('#repetitions_picker')
                            .multiDatesPicker(jQuery.extend(
                                    date_picker_options(),
                                    multidate_picker_options
                            ))
                            .addClass('.pickable'); // une seule fois;
                    jQuery('#repetitions').attr("readonly","readonly");
                });
            }
        });

        });
    </script>

</div>
