<div class='formulaire_spip formulaire_newsletter formulaire_[(#FORM)] ajax'>
	[<p class="reponse_formulaire reponse_formulaire_ok">(#ENV**{message_ok})</p>]
	[<p class="reponse_formulaire reponse_formulaire_erreur">(#ENV*{message_erreur})</p>]

	[(#ENV{editable})
	<form method='post' action='#ENV{action}' class="form-inline ">
		#ACTION_FORMULAIRE{#ENV{action}}

		<div class="form-group">

			<div class="input-group">
				<span class="input-group-addon" id="basic-addon1">@</span>
				<input type="email" name="#GET{name}" placeholder="nom@email.Fr" class="email form-control" value="#ENV*{#GET{name}}" id="#GET{name}" [(#HTML5|et{#GET{obli}})required='required'] aria-describedby="basic-addon2">

			</div>

				[<span id="inputError2Status" class="sr-only">(#GET{erreurs})</span>]

		</div>

		<!--extra-->
		<input type="submit" class="submit" value="ok" />
</form>
	]
</div>
