<BOUCLE_vevent(EVENEMENTS){id_evenement=#ENV{id,#ENV{id_evenement}}}>
[(#SET{logo,#LOGO_EVENEMENT})]
[(#SET{url_article,''})]
<BOUCLE_condition(CONDITION){si #ID_EVENEMENT_SOURCE|!={0}}>

<BOUCLE_evt_source(EVENEMENTS){id_article!=19}{id_evenement=#ID_EVENEMENT_SOURCE}>
[(#SET{logo,#LOGO_EVENEMENT})]
[(#ID_ARTICLE|=={19}|non)[(#SET{url_article,#URL_ARTICLE})]]
</BOUCLE_evt_source>

</BOUCLE_condition>
<BOUCLE_articles(ARTICLES){id_evenement}>

[(#GET{logo}|non) [(#SET{logo,#LOGO_ARTICLE|sinon{#CHEMIN{images/mres_agenda.png}|image_reduire{50,50}}})] ]
[(#ID_ARTICLE|=={19}|non)[(#SET{url_article,#URL_ARTICLE})]]
</BOUCLE_articles>
<div class="item">
	<div class="logo pull-left">
		<a href="[(#GET{url_article})]" rel="bookmark" [data-event="(#URL_PAGE{evt_ajax,id_evenement=#ID_EVENEMENT})"]>
			<img src="[(#GET{logo}|sinon{#CHEMIN{images/logo.png}}|image_reduire{80,80}|extraire_attribut{src})]" class="img-rounded spip_logos" />
		</a>
	</div>
	<div class="date">[(#DATE_DEBUT|affdate_court)][ (#HORAIRE|=={oui}|oui)[(#DATE_DEBUT|heures) h][(#DATE_DEBUT|minutes|!={00}|oui)[(#DATE_DEBUT|minutes)]]]</div>
	<div class="titre">
		<a href="[(#GET{url_article})]" rel="bookmark" [data-event="(#URL_PAGE{evt_ajax,id_evenement=#ID_EVENEMENT})"]>
			#TITRE
		</a>
	</div>
	<div class="lieu">#LIEU</div>
	[(#SET{date_debut,#DATE_DEBUT})]
</div>


</BOUCLE_vevent>


