<BOUCLE_article(ARTICLES){id_article=34}>
<BOUCLE_content(ASSOCIATIONS){id_association}>
<INCLURE{fond=breadcrumb/#ENV{type-page},env} />
<div class="row-fluid" >
	<div class="content col-md-8" id="content">



		<article>
			<header class="cartouche">
				[<div class="logo pull-right">(#LOGO_ASSOCIATION|#URL_ASSOCIATION|image_reduire{250,250}|inserer_attribut{class,"img-responsive img-rounded"})</div>]

				<h1>
					<span class="#EDIT{sigle}">#SIGLE</span>[
					<small class="#EDIT{nom} nom">(#NOM)</small>
					]</h1>


			</header>

			<div class="main">

				<B_theme>
					<div class="liste_theme">
						<BOUCLE_theme(MOTS){id_groupe=14}{id_association}{', '}>
				<span class="label label-default label-mot#ID_MOT">
					<a href="[(#URL_MOT)]">#TITRE</a>
				</span>
						</BOUCLE_theme>
					</div>
				</B_theme>

				<dl>
					<dt>Objet</dt>
				[<dd><div class="#EDIT{objet_associatif} chapo surlignable">(#OBJET_ASSOCIATIF|adaptive_images)</div></dd>]

				</dl>

				<dl>
					[
						<dt><:association:champ_adresse_label:> : </dt>
						<dd><span dir="#LANG_DIR" class="#EDIT{adresse} adresse">(#ADRESSE|textebrut)</span><br/>
							[<span dir="#LANG_DIR" class="#EDIT{cp} cp">(#CP)</span>]
							[<span dir="#LANG_DIR" class="#EDIT{ville} ville">(#VILLE)</span>]
						</dd>
					]
					[
					<dt><:association:champ_tel_label:> : </dt>
					<dd><span dir="#LANG_DIR" class="#EDIT{tel} tel">(#TEL)</span></dd>
					]
					[
					<dt><:association:champ_fax_label:> : </dt>
						<dd><span dir="#LANG_DIR" class="#EDIT{fax} fax">(#FAX)</span></dd>
				]

					[
					<dt><:association:champ_email_label:> : </dt>
						<dd><span dir="#LANG_DIR" class="#EDIT{email} email">(#EMAIL)</span></dd>
				]

					[
					<dt><:association:champ_url_site_label:> :</dt>
						<dd><a href="#URL_SITE" class="spip_out"><span dir="#LANG_DIR" class="#EDIT{url_site} url_site">(#URL_SITE)</span></a></dd>
				]

					[
					<dt><:association:champ_facebook_label:> :</dt>
						<dd><span dir="#LANG_DIR" class="#EDIT{facebook} facebook">(#FACEBOOK)</span></dd>
				]


					[<dt><:association:champ_permanence_label:> :</dt>
					<dd><span dir="#LANG_DIR" class="#EDIT{permanence} permanence">(#PERMANENCE)</span>
				</dd>]


				</dl>

				[<div class="#EDIT{description} texte surlignable">(#DESCRIPTION|adaptive_images)</div>]


				<dl>
				[<dt><:association:champ_historique_label:> : </dt>
				<dd><span dir="#LANG_DIR" class="#EDIT{historique} historique">(#HISTORIQUE)</span></dd>

				</dl>]

				[<div class="champ contenu_document[ (#DOCUMENT*|strlen|?{'',vide})]">
				<label><:association:champ_document_label:> : </label>
				<span dir="#LANG_DIR" class="#EDIT{document} document">(#DOCUMENT)</span>
			</div>]

				[<div class="champ contenu_syndication[ (#SYNDICATION*|strlen|?{'',vide})]">
				<label><:association:champ_syndication_label:> : </label>
				<span dir="#LANG_DIR" class="#EDIT{syndication} syndication">(#SYNDICATION)</span>
			</div>]



		</div>


			<aside>
				[(#REM) Gestion du portfolio et des documents ]
				[(#INCLURE{fond=inclure/documents,id_article})]

			</aside>
			[(#INCLURE{fond=inclure/outils})]

			#BOUTONS_ADMIN_MAGNET

		</article>


	</div>



	<div class="aside secondary col-md-4" id="aside">
		<INCLURE{fond=aside/#ENV{type-page},env} />
	</div>
</div>


</BOUCLE_content>
</BOUCLE_article>
