<BOUCLE_content(MOTS) {id_mot} {doublons}>
<section>

  <header class="cartouche">
      <h1 class="#EDIT{titre}">[(#LOGO_MOT|image_reduire)]#TITRE</h1>
  </header>

	<div class="main">
		[<div class="#EDIT{texte} chapo">(#TEXTE|adaptive_images)</div>]
	</div>

	<aside>
<div class="row">

		<div class="col-md-10">

		[(#REM) Articles lies au mot-cle ]
		<B_news>
			<div class="col-md-6">
				<div class="liste articles">
					<div class="panel panel-default">
						#ANCRE_PAGINATION
						<div class="panel-heading">
					<h3 class="h3">Actualité</h3>
						</div>
						<div class="panel-body">
							<ul class="liste-items">
								<BOUCLE_news(ARTICLES){id_rubrique=24}{id_mot} {par popularite}{inverse} {pagination 10}>
								[(#INCLURE{fond=inclure/article-sommaire,id_article})]
								</BOUCLE_news>
							</ul>
						</div>
						<div class="panel-footer">
						[<div class="pagination">(#PAGINATION)</div>]
					</div>
					</div>
				</div>
			</div>
		</B_news>


		<B_agenda>
			<div class="liste agenda">
				<div class="col-md-6">
					<div class="panel panel-default">
						#ANCRE_PAGINATION
						<div class="panel-heading">
							<h3 class="h3">Agenda</h3>
						</div>
						<div class="panel-body">
							<ul class="liste-items">
								<BOUCLE_agenda(EVENEMENTS) {id_mot} {age<0}{par date} {pagination 10}>
								<INCLURE{fond=inclure/resume/evt2}{id_evenement=#ID_EVENEMENT}/>
								</BOUCLE_agenda>
							</ul>
						</div>
						<div class="panel-footer">
							[<div class="pagination">(#PAGINATION)</div>]
						</div>
					</div>
				</div>
			</div>
		</B_agenda>



		<B_association>
			<div class="liste associations">
				<div class="col-md-6">
					<div class="panel panel-default">
						#ANCRE_PAGINATION
						<div class="panel-heading">
							<h3 class="h3">Associations</h3>
						</div>
						<div class="panel-body">
							<ul class="liste-items">
								<BOUCLE_association(ASSOCIATIONS spip_mots_liens){id_mot}{par nom}{pagination 10}>
								<li class="item">
									<a href="#URL_ASSOCIATION">
										[(#LOGO_ASSOCIATION|right|image_reduire{40,40})]
										<div class="nom">#NOM</div>
									</a>
								</li>
								</BOUCLE_association>
							</ul>
						</div>
						<div class="panel-footer">
							[<div class="pagination">(#PAGINATION)</div>]
						</div>
					</div>
				</div>
			</div>
		</B_association>




			<B_articles>
				<div class="liste articles">
					<div class="col-md-6">
					#ANCRE_PAGINATION
						<div class="panel panel-default">
							<div class="panel-heading">
								<h3 class="h3"><:articles:></h3>
							</div>
							<div class="panel-body">
					<ul class="liste-items">
						<BOUCLE_articles(ARTICLES) {id_rubrique!=24}{id_rubrique!=22}{id_mot} {par date}{inverse} {pagination 10}>
						<li class="item">
							<a href="#URL_ARTICLE">#TITRE</a>
							<div class="small">[<abbr class="published" title="[(#DATE|date_iso)]">(#DATE|affdate_jourcourt)</abbr>][, <:par_auteur:> (#LESAUTEURS)]</div></li>
						</BOUCLE_articles>
					</ul>
					[<div class="pagination">(#PAGINATION)</div>]
				</div>
			</B_articles>




		</div>
	<div class="col-md-2">
		<ul>
			<BOUCLE_mots(MOTS) {id_parent=#ID_MOT}{par titre}>
			<li class="item">
				<a href="#URL_MOT">#TITRE</a>
			</li>
			</BOUCLE_mots>
		</ul>
	</div>








		[(#REM) Rubriques liees au mot-cle ]
		<B_rubriques>
		<div class="liste rubriques">
			<h2 class="h2"><:rubriques:></h2>
			<ul class="liste-items">
				<BOUCLE_rubriques(RUBRIQUES) {id_mot} {par titre} {pagination 50}>
				<li class="item"><a href="#URL_RUBRIQUE">#TITRE</a></li>
				</BOUCLE_rubriques>
			</ul>
			[<div class="pagination">(#PAGINATION)</div>]
		</div>
		</B_rubriques>

		[(#REM) Breves liees au mot-cle ]
		<B_breves>
		<div class="liste breves">
			<h2 class="h2"><:breves:breves:></h2>
			<ul class="liste-items">
				<BOUCLE_breves(BREVES) {id_mot} {par titre} {pagination 50}>
				<li class="item"><a href="#URL_BREVE">#TITRE</a></li>
				</BOUCLE_breves>
			</ul>
			[<div class="pagination">(#PAGINATION)</div>]
		</div>
		</B_breves>

		[(#REM) Liens des forums ]
		<B_forums_liens>
		<div class="liste forums">
			<h2 class="h2"><:messages_forum:></h2>
			<ul class="liste-items">
				<BOUCLE_forums_liens(FORUMS) {id_mot} {plat} {par date}{inverse} {pagination 50}>
				<li class="item">[<abbr class="published" title="[(#DATE|date_iso)]">(#DATE|affdate_jourcourt)</abbr><span class="sep"> &ndash; </span>]<a href="#URL_FORUM">[(#TEXTE|couper{80})]</a></li>
				</BOUCLE_forums_liens>
			</ul>
			[<div class="pagination">(#PAGINATION)</div>]
		</div>
		</B_forums_liens>

		[(#REM) Sites web lies au mot-cle ]
		<B_sites>
		<div class="liste sites">
			<h2 class="h2"><:sites_web:></h2>
			<ul class="liste-items">
				<BOUCLE_sites(SITES) {id_mot} {par nom_site} {pagination 50}>
				<li class="item"><a href="[(#ID_SYNDIC|generer_url_entite{site,'','',#CONNECT})]">#NOM_SITE</a></li>
				</BOUCLE_sites>
			</ul>
			[<div class="pagination">(#PAGINATION)</div>]
		</div>
		</B_sites>
	</aside>
	[<footer>
		<div class="notes"><hr />(#NOTES)</div>
	</footer>]
</section>
</BOUCLE_content>