<section>
	[<header class="cartouche">
		<h1><:resultats_recherche:>
			<small>&#171;&nbsp;(#RECHERCHE)&nbsp;&#187;</small>
		</h1>
	</header>]

	<div class="main">
		<INCLURE{fond=liste/associations-recherche,env,ajax} />

		<INCLURE{fond=liste/actus-recherche,env,ajax} />

		<INCLURE{fond=liste/evts-recherche,env,ajax} />

		<INCLURE{fond=liste/emplois-recherche,env,ajax} />

		<INCLURE{fond=liste/articles-recherche,env,ajax} />

		<INCLURE{fond=liste/rubriques-recherche,env,ajax} />

	</div>

</section>
