<INCLURE{fond=breadcrumb/#ENV{type-page},env} />
<BOUCLE_contenu_rubrique(RUBRIQUES){id_rubrique}>
<div class="row-fluid" >
	<div class="content col-md-12" id="content">



<div class="contenu-principal">

	<div class="cartouche">
		<h1 class="h1 #EDIT{titre}">#TITRE</h1>
		[<p class="info-publi"><span class="published"><:dernier_ajout:> : (#DATE|affdate_jourcourt).</span></p>]
	</div>

	[<div class="#EDIT{texte} chapo">(#TEXTE)</div>]
</div>



[(#SET{tri_article,'num titre'})]
[(#SET{tri_article_sens,'direct'})]

<BOUCLE_option_rubrique(MOTS){id_rubrique}{type='options_affichage'}{technique=oui}>
[(#TITRE|=={tri_antichronologique}|oui)[(#SET{tri_article,date})][(#SET{tri_article_sens,'inverse'})]]
[(#TITRE|=={tri_chronologique}|oui)[(#SET{tri_article,date})][(#SET{tri_article_sens,'1'})]]
[(#TITRE|=={masquer_liste_article}|oui)[(#SET{masquer_liste_article,'oui'})]]
[(#TITRE|=={masquer_liste_rubrique}|oui)[(#SET{masquer_liste_rubrique,'oui'})]]
[(#TITRE|=={articles_avant_sous_rubriques}|oui)[(#SET{articles_avant_sous_rubriques,'oui'})]]
</BOUCLE_option_rubrique>

		[(#REM)Les Rubriques ]

[(#GET{masquer_liste_rubrique}|non)
<div class="bloc_section bloc_section_rubrique">
	<div class="row">
		[(#INCLURE{fond=inclure/plan_rubrique_bloc}{id_rubrique})]
	</div>
</div>]



[(#GET{masquer_liste_article}|non)
	[<div class="bloc_section bloc_section_article">
		<div class="row">
		<div class="ajax">
			(#INCLURE{fond=inclure/plan_article_bloc,id_rubrique,tri=#GET{tri_article},tri_sens=#GET{tri_article_sens},ajax,env})
		</div>
		</div>
	</div>]


[(#GET{articles_avant_sous_rubriques}|oui)
<script type="application/javascript">
	$('.bloc_section_rubrique').before($('.bloc_section_article'))
</script>
		]
]



[(#REM) Documents joints a la rubrique ]
[<div class="bloc_section bloc_section_document">
	<div class="row">
		(#INCLURE{fond=inclure/documents}{id_rubrique})
	</div>
</div>]





[<div class="notes"><h2 class="h2"><:info_notes:></h2>(#NOTES)</div>]


	</div>



	<div class="aside secondary col-md-12" id="aside">
		<INCLURE{fond=aside/#ENV{type-page},env} />
	</div>
</div>

</BOUCLE_contenu_rubrique>
