
<div class="row-fluid" id="bloc_theme">
<B_theme>
    <ul class="liste-items">
        <BOUCLE_theme(MOTS){id_groupe=14}{id_parent=0}{par num titre}>
         <li>
            [<a href="#URL_MOT" class="" style="[background-color:(#COULEUR);] [background-image :url( (#LOGO_MOT|image_reduire{200,300}|extraire_attribut{'src'}) );]">(#TITRE)</a>]
         </li>
        </BOUCLE_theme>
    </ul>
</B_theme>
</div>

<div class="row-fluid" >

    <div class="content col-md-7" id="actu">
        <div class="panel panel-default">
            <div class="panel-heading"><h3 class="h3">Actualités</h3></div>
            <div class="panel-body">
        <B_actu_zoom>
            <div class="jumbotron">
                <B_actu_zoom>
                    <ul class="list-unstylised">
                    <BOUCLE_actu_zoom(ARTICLES){magnet}{doublons}{0,1}>
                    [(#INCLURE{fond=inclure/article-sommaire,id_article})]
                    </BOUCLE_actu_zoom>
                    </ul>
                </B_actu_zoom>
            </div>

        </B_actu_zoom>

        <div class="liste selections actualites">
            <!-- <h2 class="h2">ZOOM</h2>-->
            <B_actu>
            <ul class="liste-items">
                <BOUCLE_actu(ARTICLES){id_rubrique=24}{doublons}{0,4}{par date}{inverse}>
                [<li class="list-item">(#INCLURE{fond=inclure/article-sommaire,id_article})</li>]
                </BOUCLE_actu>
            </ul>
                <div class="pull-right"><a href="[(#URL_RUBRIQUE{24})]" class="btn btn-primary">Voir les autres actualités</a></div>
            </B_actu>
        </div>
    </div>
        </div>
    </div>

    <div class="content col-md-5" id="agenda">
        <div class="panel panel-default">
            <div class="panel-heading"><h3 class="h3">Agenda</h3></div>
            <div class="panel-body">
                [(#INCLURE{fond=inclure/mini_agenda,env})]
            </div>
        </div>
        </div>
    </div>
</div>

