<div class="formulaire_spip form_recherche_association [(#ENV{editable}|non) masquer]" id="formulaire_recherche_association">
    <form method="get"  class="noajax">
        <label for="recherche_rub">
            <:info_rechercher:>
        </label>
        <div class="form-group">
        <div class="input-group">
            <input type="hidden"  name="page" value="article" />
            <input type="hidden"  name="id_article" value="#ENV{action_id_article}" />
            <input type="text"  class="form-control" placeholder="Rechercher..." name="recherche"
                   id="recherche_rub" value="#ENV{recherche}"/>
            <span class="input-group-btn">
            <button class="btn btn-success" type="submit" name="bt_recherche"><i class="glyphicon glyphicon-search"></i></button>
            </span>
        </div>
        </div>


        [(#ENV*{erreurs}|table_valeur{recherche})]
    </form>
</div>

