<div id="animation">

    <div class="slide_navigator">
        <div class="cap" data-num="0"></div>
        <div class="cap" data-num="1"></div>
        <div class="cap" data-num="2"></div>
        <div class="cap" data-num="3"></div>
    </div>
    <div class="centre_animation">


        <div id="slide0" class="slide">
            <div class="chemin"></div>
            <div class="bt_chemin" id="bt1" data-num="3"><a id="btl3"><div class="texte">Terrains</div> <div class="alpha54">d'action</div></a></div>
            <div class="bt_chemin" id="bt2" data-num="2"><a id="btl2"><div class="texte">Espace de</div> <div class="alpha54">conseil</div></a></div>
            <div class="bt_chemin" id="bt3" data-num="1"><a id="btl1"><div class="texte">Lieu de</div> <div class="alpha54">connaissance</div></a></div>
            <div class="bloc">


                <div id="titre_mres">Maison Régionale<br/><span class="petit">de </span>l'environnement<br/><span
                        class="petit"> et des </span>solidarités
                </div>
                <div id="titre_reseau">Réseau associatif<br/> en Hauts de France</div>

            </div>
            <div class="illustration illustration1">
                <div class="descriptif">
                    La MRES est un réseau de <a href="#URL_RUBRIQUE{7}">125 associations</a> qui militent et travaillent
                    pour la protection de l'environnement, l'éducation au développement durable,
                    la citoyenneté et les droits des l'Homme. <a href="#URL_RUBRIQUE{1}">En savoir plus</a>

                </div>
            </div>
        </div>


        <div id="slide1" class="slide">
            <div class="bloc">
                <div class="titre">Lieu de découverte</div>
                <div class="soustitre">Envie de connaître, échanger, vibrer</div>

                <div class="descriptif">
                    <p>Les associations deu réseau couvrent des domaines variés, de l'énergie à l'ornithologie, de la
                        nature à la culture. Elles proposent en permanence débats, ateliers, fêtes et autres
                        manifestationsn dans et hors les murs.</p>

                    <div class="col50">
                        <strong>Découvrir</strong>
                        <ul>
                            <li>Conférence-débats</li>
                            <li>Atelier philo</li>
                            <li>Expositions, spectacle</li>
                        </ul>
                    </div>
                    <div class="col50">
                        <strong>Partager</strong>
                        <ul>
                            <li>Ateliers pratiques</li>
                            <li>Logiciels libres</li>
                            <li>Jeux coopératifs</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="illustration illustration1">
                <div class="photos">
                    <div class="photo">
                        [(#CHEMIN{'images/centre_doc.jpg'}|image_reduire{400,300}|image_recadre{400,60})]
                    </div>
                </div>
                <div class="titre">Centre de documentation</div>

                <p>La MRES abrite un pôle documentaire ouvert à tous. Ses grands Thèmes : écologie, mobilité, habitat
                    durable, climat-énergie, vie associative</p>
                <ul class="list-circle">
                    <li>16 000 références</li>
                    <li>Livres, revues, DVD, expositions, outils educatifs</li>
                    <li>Aide personnalisée, recherches thématiques, bibliographies</li>
                    <li>Catalogue en ligne</li>
                </ul>
                <a class="btn btn-default" href="[(#URL_RUBRIQUE{34})]">En savoir plus</a>
            </div>
        </div>


        <div id="slide2" class="centre_animation">
            <div class="bloc">
                <div class="titre">Espace Conseil</div>

                <div class="soustitre">Besoin d'aide ou d'appui au projet</div>


                <div class="descriptif">
                    <p>Des conseils personnalisés et permanences thématiques sont proposés régulièrement</p>

                    <strong>Permanence associative</strong>
                    <div class="photos pull-right">
                        <div class="photo">
                            [(#CHEMIN{'images/conseil.jpg'}|image_reduire{0,175}|image_recadre{200,175})]
                        </div>
                    </div>
                    <ul>
                        <li>Droits sociaux et droits des étrangers</li>
                        <li>Défense des consommateurs</li>
                        <li>Réparation et marquage vélo</li>
                        <li>Épicerie bio</li>
                    </ul>


                </div>
            </div>
            <div class="illustration illustration1">
                <h3>Le points environnement conseil</h3>

                <p>La MRES abrite un pôle documentaire ouvert à tous. Ses grands Thèmes : écologie, mobilité,
                    habitat durable, climat-énergie, vie associative</p>

                <a class="btn btn-default" href="[(#URL_ARTICLE{38})]">En savoir plus</a>

                <h3>L'espace info energie</h3>

                <p>La MRES abrite un pôle documentaire ouvert à tous. Ses grands Thèmes : écologie, mobilité,
                    habitat durable, climat-énergie, vie associative</p>

                <a class="btn btn-default" href="[(#URL_RUBRIQUE{32})]">En savoir plus</a>

            </div>
        </div>


        <div id="slide3" class="centre_animation">
            <div class="bloc">
                <div class="titre">
                    Terrain d'action
                </div>

                <div class="soustitre">
                    Envie de réaliser, coopérer, stimuler
                </div>


                <div class="descriptif">

                        <strong>Faire</strong>
                        <ul>
                            <li>Sensibiliser par des actions concrètes</li>
                            <li>Participer à des chantiers nature</li>
                        </ul>

                        <strong>Coopérer</strong>
                        <ul>
                            <li>Rallier des actions collectives</li>
                            <li>Monter des projets innovants</li>
                            <li>Devenir observateur de la biodiversité</li>
                        </ul>

                        <strong>Animer</strong>
                        <ul>
                            <li>S'impliquer dans un groupe local</li>
                            <li>Contribuer à des concertations</li>
                        </ul>


                </div>
            </div>
            <div class="illustration illustration1">
                <div class="photos">
                    <div class="photo">
                        [(#CHEMIN{'images/atelier.jpg'}|image_recadre{400,80})]
                    </div>
                </div>
                <h3>Pôle ressource d'aide à la vie associative</h3>

                <p>Vous êtes bénévole ? Vous montez un projet de solidarité ou environnmental ? La MRES vous encourage
                    : </p>
                <ul>
                    <li>Contact avec des partenaires et prestataires.</li>
                    <li>Qualification des bénévoles.</li>
                    <li>Information juridique et administrative.</li>
                </ul>
                <a class="btn btn-default" href="[(#URL_RUBRIQUE{76})]">En savoir plus</a>
            </div>

        </div>
    </div>
</div>


<script type="application/javascript">

    $('#slide1 > div').hide();
    $('#slide2 > div').hide();
    $('#slide3 > div').hide();
    $('#slide0 > div.chemin').hide();
    $('#slide0 > div.bt_chemin').hide();

    $(document).ready(function () {
        largeur_page = $(window).width();
        if (largeur_page >= 992) {
            $divs_haut = $('#titre_mres, #titre_reseau');
            $divs_bas = $(' #illustration');
            $divs_haut.velocity('transition.bounceDownIn', {duration: 1000, stagger: 300, backwards: true})
            $divs_bas.velocity('transition.bounceUpIn', {duration: 1000, stagger: 300, backwards: false})

            $divs_chemin = $('#slide0 .chemin');
            $divs_chemin.velocity("reverse").velocity('transition.bounceLeftIn', {
                duration: 800,
                stagger: 1000,
                backwards: false,
                delay: 800
            });

            $divs_chemin = $('#slide0 .bt_chemin');
            $divs_chemin.velocity("reverse").velocity('transition.bounceIn', {
                duration: 800,
                stagger: 200,
                backwards: false,
                delay: 800
            });


            $('.cap[data-num=0]').addClass('on');


            slide_en_cours = 0



            $('.cap,.bt_chemin').click(function (e) {


                e.preventDefault();
                e.stopPropagation();
                $('.cap').removeClass('on');

                num = $(this).attr('data-num');
                $('.cap[data-num='+num+']').addClass('on');
                if (num != slide_en_cours) {

                    $('#slide' + slide_en_cours + ' > div').velocity('transition.bounceLeftOut', {
                        duration: 500,
                        stagger: 100
                    });
                    $divs_haut = $('#slide' + num + ' .bloc');
                    $divs_bas = $('#slide' + num + ' .illustration1, #slide' + num + ' .illustration2');
                    $divs_chemin = $('#slide' + num + ' .chemin');


                    $divs_haut.velocity("stop").velocity("reverse").velocity('transition.bounceUpIn', {
                        duration: 1000,
                        stagger: 300,
                        backwards: false,
                        delay: 500
                    });
                    $divs_bas.velocity("stop").velocity("reverse").velocity('transition.bounceDownIn', {
                        duration: 1000,
                        stagger: 1000,
                        backwards: false,
                        delay: 800
                    });

                    $divs_chemin.velocity("stop").velocity("reverse").velocity('transition.bounceDownIn', {
                        duration: 500,
                        stagger: 1000,
                        backwards: false,
                        delay: 800
                    });
                    if (num==0){
                        $divs_chemin = $('#slide0 .bt_chemin');
                        $divs_chemin.velocity("reverse").velocity('transition.bounceIn', {
                            duration: 800,
                            stagger: 200,
                            backwards: false,
                            delay: 800
                        });
                    }


                    slide_en_cours = num;
                }
            });
        }
    });
</script>