<div class="mini-plan">
[(#SET{total,0})]
<B_articles>

	[(#SET{total,#TOTAL_BOUCLE})]
	<BOUCLE_articles(ARTICLES){id_rubrique}>

	</BOUCLE_articles>
</B_articles>


	<BOUCLE_CONDITION(CONDITION){si #GET{total}|=={1}}>
		<BOUCLE_articles0(ARTICLES){id_article}>

		<B_rubrique2>
			<ul class="list-unstyled">
			<BOUCLE_rubrique2(RUBRIQUES){id_rubrique=#ID_SECTEUR}{par num titre}>
				<BOUCLE_rubrique(RUBRIQUES){id_parent}{par num titre}>
				<li class="item hentry">
					<a href="#URL_RUBRIQUE" [ class="(#EXPOSE)"]>#TITRE</a>
				</li>
				</BOUCLE_rubrique>
			</BOUCLE_rubrique2>
			</ul>
		</B_rubrique2>
		</BOUCLE_articles0>
	</BOUCLE_CONDITION>


	</B_CONDITION>
		<BOUCLE_r(RUBRIQUES){id_rubrique}>
		<h3>#TITRE</h3>
		</BOUCLE_r>
		<B_articles2>
			<ul class="list-unstyled">
			<BOUCLE_articles2(ARTICLES){id_rubrique}{par num titre}>
			<li class="item hentry">
				<a class="[(#EXPOSE)]" href="#URL_ARTICLE">#TITRE</a>
			</li>
			</BOUCLE_articles2>
				</li>
				</ul>
		</B_articles2>
	<//B_CONDITION>


</div>