<div class="footer clearfix pal">
	<p class="colophon">
		[<small class="generator fr"><a href="http://www.spip.net/" rel="generator" title="<:site_realise_avec_spip:>" class="generator spip_out">(#CHEMIN{spip.png}|image_reduire{32,32}|inserer_attribut{alt,SPIP})</a></small>]
		<a rel="nofollow" href="mailto:#EMAIL_WEBMASTER"><:contact:></a>
		[(#AUTORISER{ecrire}) | <a href="#EVAL{_DIR_RESTREINT_ABS}"><:espace_prive:></a>][
		(#SESSION{id_auteur}|oui) | <a href="#URL_LOGOUT" rel="nofollow"><:icone_deconnecter:></a>]

	</p>
</div>
[<script src="(#CHEMIN{js/scripts_footer.js})" type="text/javascript"></script>]