
<B_mois_vedette>
    <ul class="evt_vedette">
        <BOUCLE_mois_vedette(EVENEMENTS){age<0}{magnet}{doublons}>

        <li>
        [(#SET{logo,#LOGO_EVENEMENT|image_reduire{0,700}})]
        <a href="#URL_ARTICLE" rel="bookmark" [data-event="(#URL_PAGE{evt_ajax,id_evenement=#ID_EVENEMENT})"]>
            <div class="item">
	<BOUCLE_articles_vedette(ARTICLES){id_evenement}{id_article!=19}>
        [(#GET{logo}|non) [(#SET{logo,#LOGO_ARTICLE|image_reduire{0,700}})]]
        [(#GET{logo}|non) [(#SET{logo,#CHEMIN{images/logo.png}|image_reduire{0,700}})]]

       [<div class="logo pic grow">(#GET{logo}|inserer_attribut{class,"img-responsive img-rounded"})</div>]
	</BOUCLE_articles_vedette>

        <div class="titre clearfix">
            <span class="date">[(#DATE_DEBUT|affdate_court)] [ (#HORAIRE|=={oui}|oui)[(#DATE_DEBUT|heures) h][(#DATE_DEBUT|minutes|!={00}|oui)[(#DATE_DEBUT|minutes)]]]</span>
	       #TITRE
        </div>
        <div class="informations">
            [<span class="lieu">(#LIEU)</span> ]
        </div>
	        [(#SET{date_debut,#DATE_DEBUT})]
                <div class="clearfix"></div>
                </div>
            </a>
	</li>
</BOUCLE_mois_vedette>
</ul>
</B_mois_vedette>
    [(#SET{tabevt,#ARRAY})]
    <div class="clearfix"></div>
<B_mois>


<ul class="mini_agenda">
<BOUCLE_mois(EVENEMENTS){age<0}{par date}{0,8}{doublons}>
	<li>
        [(#INCLURE{fond=inclure/resume/evt2}{id_evenement=#ID_EVENEMENT})]
        [(#SET{tabevt,#GET{tabevt}|push{#ID_EVENEMENT_SOURCE}})]
	<div class="nettoyeur"></div>
	</li>
</BOUCLE_mois>
</ul>
<div class="lien_agenda pull-right"><a href="[(#URL_PAGE{agenda})]" class="btn btn-primary">Voir les autres événements</a></div>
</B_mois>
    <div class="lien_agenda pull-right"><a href="[(#URL_PAGE{agenda})]" class="btn btn-primary">Voir les autres événements</a></div>
<//B_mois>


