[<nav class="navbar navbar-inverse " id="nav">

    <div id="mobile-header" class="hidden-lg hidden-md">
        <div class="navbar-header pull-right">
            <a id="responsive-menu-button">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="glyphicon glyphicon-menu-hamburger"></span>
                    <span class="hidden-xs">Menu de navigation</span>
                </button>

            </a>
        </div>
    </div>
    <div class="container"  id="menuhaut">
        <div id="logo_navigation" class="pull-left">
            <a href="#URL_SITE_SPIP"></a>
        </div>
        <div class="menu menu-container navbar-inner hidden-xs hidden-sm">
        <div class="container">
            <div class="pull-right">
                <button type="button" id="bouton_recherche" class="btn" data-toggle="modal" data-target="#lunr_modal" data-toggle="tooltip" data-placement="bottom" title="Rechercher">
                    <span class="glyphicon glyphicon-search"></span> <span class="hidden-md hidden-xs">Rechercher</span>
                </button>
            </div>


        (#INCLURE{fond=inclure/menu, env, identifiant=barrenav})
            #MENU_LANG
        </div>
        </div>

    </div>
</nav>]

