<B_articles>
    <div class="liste articles article-bloc list-group bloc_emploi">
        #ANCRE_PAGINATION

        <ul class="menu-liste">
            <BOUCLE_articles(ARTICLES){id_rubrique}{si |=={oui}|non} {tri #ENV{tri,'date_depublie'}, #ENV{tri_sens,'inverse'}} {pagination 20}>
            [(#INCLURE{fond=inclure/resume/menu_emploi,id_article})]
            </BOUCLE_articles>
        </ul>
        <div class="clearfix"></div>
        [<div class="pagination">(#PAGINATION)</div>]

        <div class="clearfix"></div>
    </div>
</B_articles>
