<B_themes>
	<div class="filtre">
		<select class="form-control" name="themes[]" multiple="multiple">
			<BOUCLE_themes(MOTS){id_groupe=14}{par titre}>
				<option value="#ID_MOT">#TITRE</option>
			</BOUCLE_themes>
		</select>
	</div>
</B_themes>

