@import "bootstrap/variables";

@import "variables_perso";

@font-face {
  font-family: 'alpha54regular';
  src: url('../fonts/alpha54-webfont.woff2') format('woff2'),
  url('../fonts/alpha54-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}


body {
    font-family: "Source Sans Pro", "Liberation Sans", sans-serif;
}

h1,h2,h3{ font-family: "Source Sans Pro", "Liberation Sans", sans-serif;}


.alpha54{ font-family: alpha54regular;font-size:2em;text-align:center;}


// *******************************************
// ***********   COULEUR DES TEXTES **********
// *******************************************

.couleur-majeure{color:$vert;}
.couleur-mineure{color:$rose-mres;}
.couleur-tierce{color:$grisbleu-mres;}
.rose-virgule{color:$rose-virgule;}
.vert-virgule{color:$vert-virgule;}




div.socialtags { clear: none; margin: 0; float: right; margin-top: 1em; overflow: hidden; width: 30%; }
div.socialtags ul { margin: 0 0 0 2em; display: block; }

// *******************************************
// ***********   MENU  ***********************
// *******************************************

.bloc_recherche{
  display: inline-block;
  margin-top:5px;

}

#nav{
  z-index: 100;
  margin-bottom:0;
  border-bottom: 4px solid $gray-lighter;
  font-size:1.1em;
  .nav{padding-left:165px;
    >li>a {font-size: 1.05em; text-transform: uppercase;padding: 15px 12px;}
    >li:hover {background-color:$white-trans;}
    //>li:hover>a {color:white;}
    .texte_libre{display:inline-block;line-height:1.1;color:$gray-darker;font-size: 1.05em;padding: 15px;
      text-transform: uppercase; }
    a { color:$gray-darker; }
    li {position:relative;}
    li.on a { font-weight: normal }
    li.on>a { font-weight: bold; }
    li>ul {
      display:none;position:absolute;width:250px; top:50px;left:0;
      li {
        padding:0.5em 0;
      }
    }
    li:hover>ul {display:block;background-color:$white-trans;padding:0.5em 1em;border-bottom: 4px solid $gray-lighter;border-top: 4px solid $white-trans;}


  }


  #logo_navigation a{
    display:block;
    position:absolute;
    top: 2px;
    width:165px;
    height: 72px;
    background: transparent url('../images/logo_mres.png') no-repeat top center;
  }

}

////////////responsive//////////////////


@media only screen and (max-width: $screen-sm-max) {
  #nav{
    #logo_navigation a{  top: 11px;   }
  }
}








// *******************************************
// *********** HEADER ***********************
// *******************************************



#header{

  background-color:$vert;
  min-height: 200px;
  h1{display:none;}
}

.page_sommaire{

  #header{
    h1{display:block;}
    background-color:$vert;
    min-height: 400px;
  }




  #bloc_theme{

    ul {margin:3em 1em 1em 1em;padding:0;
      background-color: white;
      li{
        display:inline-block;
        width: calc(18% - 3px);
        border:0 none;
        margin:1em 1%;padding:0;
        a{
          display:inline-block;
          width: 100%;
          color: white;
          padding: 0.5em 1em;
          height:230px;
          vertical-align: top;
          font-size:1.2em;
          font-weight:bold;
          transition: 0.3s;
          background-position: bottom;
          background-size: 85%;
          background-repeat: no-repeat;
        }
        a:hover{
          filter: brightness(1.2);
        }


      }
    }


  }


  .meta-publi{display:none;}

  .panel .panel-heading h3 { margin:0;font-family: "Roboto", "Liberation Sans", sans-serif;font-weight: lighter;color:$rouge;}
  .panel .panel-heading { margin:0;border-bottom:$rouge 2px solid;}


  #actu{

    .panel .panel-heading h3 { margin:0;font-family: "Roboto", "Liberation Sans", sans-serif;font-weight: lighter;color:$turquoise;}
    .panel .panel-heading { margin:0;border-bottom:$turquoise 2px solid;}

    .actualites {
      li {
        margin: 0 0 2em 0;
        clear: left;
      }
      .h3 {
        font-size: 1.4em;
      }
      p {
        font-size: 1em
      }
      .logo {
        margin-top: 1.5em;
        .spip_logo {
          max-width: 100px;
          max-height: 100px;
        }
      }
    }

   .jumbotron{ box-shadow:none; background-color:transparent;border-radius:0;border:0 none; border-bottom:1px solid $vert-pistache; padding:1em;margin:0;
  .logo{margin-top:1.5em}
  .h3{font-size:1.8em;}
    p{font-size:1.1em;}
  }


  }






}


.article_actualite-niveaux
{


  .information{
    margin:1em 0 ;
  }
}
////////////responsive//////////////////







@media only screen and (max-width: $screen-md-max) {



}

@media only screen and (max-width: $screen-sm-max) {

  .page_sommaire{
    #bloc_theme{
      ul{display:block;
        li{display:block;width: 100%;margin:1em 0;
          a{height:auto;

            min-height: 60px;
          background-size: contain;
          background-position:left;
            padding-left:70px;
          }
        }
      }
    }
  }


}


@media only screen and (max-width: $screen-xs-min) {


}

// *******************************************
// *********** CENTRAL ***********************
// *******************************************


#central{

  background-color:$gray-lighter;
  min-height: 400px;

}

.page_sommaire #central{
  padding-top:20px;

}
// *******************************************
// *********** CENTRAL ***********************
// *******************************************


#breadcrumb{
  font-size: 1.5em;
  margin-top:-45px;

  ul.breadcrumb
  {border:0 none;background-color: $white-trans80;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    margin-bottom: 0;
  a{ color:$gray-darker;}
  }
}

////////////responsive//////////////////


@media only screen and (max-width: $screen-xs-max) {

  #central {
    div.container {
      padding:0;
    }
  }

}

// *******************************************
// *********** CONTENT ***********************
// *******************************************

#content {
min-height: 600px;
    background-color: transparentize(#FFF,0.4);

    line-height: 1.45;
    letter-spacing: 0.3px;
    margin-bottom: 2em;
    .surtitre{color:$gray;}
    .soustitre{color:$gray;}
    div.menu {
      .menu-liste .menu-entree { font-size: 1.2em; }
      .plan-article ul { padding: 0.5em 1em; }
      .plan-article ul li { font-size: 0.8em; padding: 0.1em 0; }
    }
    .postmeta { display: none; }

  .info-publi{display:none;}
  .publication{display:none;}

  #outils{
    position:absolute;margin-left:-90px;top:120px;height:0px;
    #socialShare>i{display:none;}
    ul{
      li{
        .glyphicon, [class^="socicon-"], [class*=" socicon-"]{font-size: 1.2em;}
      }
      list-style: none;
    }

  li.folder{
    .triangle-right {
      width: 0;
      height: 0;
      border-top: 50px solid transparent;
      border-left: 100px solid $gray;
      border-bottom: 50px solid transparent;
    }

  }

  }

  .liste-items{
    position:relative;
    width: 100%;
  .item{
    width: 46%;float: left;
    margin:5px 1%;
    padding:5px 1%;


    .document{
      clear: both;


      .spip_logo{
        display: inline-block;
        float: left;
        width : 32px;
      }
    }
  }

  }

.rubrique-bloc{
  h3{margin-top:5px;font-size: 1.4em;}

}

ul {
    list-style-type: disc;
}
li {
    margin: 0 0 0 1.5em;
}





}


.agenda .item .logo {
  margin-right: 1em;
}








.bloc_emploi{
  .menu-liste{
    line-height: 1.3;
    margin-bottom:  4em;
    li{
      padding:  1em 1em 1em 1em;
      margin-right:  1em;
      border-bottom: 1px $gray-lighter solid;
      .poste{font-weight: bold; color:$vert }
      .employeur{color :$gray;line-height: 1.2;font-size: 0.9em;}
      a { color:$text-color}
      a:hover { text-decoration: none; }
    }
    li:hover{
      background-color:white;
      a { text-decoration: none;
        .poste{font-weight: bold; color:$rouge-tomate }
      }
    }
  }
}

.depot_offre{

margin-bottom :3em;


}



.mini_agenda{
  .item{
    margin-bottom: 1.5em;
    .logo { margin-right: 1em;  }
    .titre { font-size:1.1em; }
    .logo {  }
  }


}




#bouton_recherche{ margin:0.5em 0; background-color: $rouge; color:white; }
#lunr_modal{

  color:$rouge;
  label{font-size:1.5em;margin:0 0.5em 0 0;}
  .form-group{ display:block;}
  #recherche{ color:$gray-dark;font-size:1.5em;padding:0.5em 1em; border:1px $rouge solid; width: calc(100% - 3em);line-height: 1.4}
  .lunr-content{
    display:none;
  }
  .lunr-submit{margin:1em 2em;width: calc(100% - 4em);background-color: $rouge;}

}


#liste_des_associations{

  .element-item{margin: 0 0 1em 0;}
  .liste_des_resultats{
    .h4{margin-top:0;}
    .logo{margin-right: 1em;margin-bottom: 0.5em;}
  }

  .select2-container--default .select2-selection--multiple
  {
    border:0 none;
  }
  .select2-container--default .select2-selection--multiple .select2-selection__rendered{
    display:block;
    padding: 5px 5px;
    border: 1px solid #e7e7e7;
    border-radius: 4px;
    li{
      margin:0 1px;

    }
  }

}

#agenda-liste{

.evenements{
    margin:0;padding:0;
  li{
    margin:0;padding:0;

    .evenement{
      margin:0;padding:0 0 2em 0 ;
       .banner{
        font-size:2em;
        margin-left:0;
        width:100%;
         background-color: $brand-primary;
         padding: 0.5em 1em;
      }

      .entry-content{
        max-height: none;
      }
      .corp_texte{
        .h3-like{
          font-size:1.2em;
        }

      }

    }
  }
}
}


.sommaire_infolettre{
  margin:4em 0;
}

.inner{
  margin:4em 0;
  .sociaux-list{
    padding:1em 0;
    li{
      margin : 0 1em 0 0;
    }
  }
}



.label {
  a{ color:white; }

}


////////////responsive//////////////////

@media only screen and (max-width: 1300px) {
  #content  #outils{
    position: relative;
    margin-top: 3em;
    margin-left: 0;
    top: 0;
    height: auto;

    div { display: inline-block;
    }
    ul { list-style: none; display: inline-block;
     li{ display: inline-block;
       .glyphicon, [class^="socicon-"], [class*=" socicon-"]{font-size: 1.4em;}
     }
    }

  }

}


// *******************************************
// *********** ASIDE ***********************
// *******************************************

#aside{
  padding-top:2em;
  .mini-plan{
    li{
      padding:0.25em;
    }
    font-size:1.1em;
  }

}



// *******************************************
// *********** PAGE MOT ***********************
// *******************************************


.page_mot{
.panel .panel-heading h3 { margin:0;font-family: "Roboto", "Liberation Sans", sans-serif;font-weight: lighter;color:$rouge;}
.panel .panel-heading { margin:0;border-bottom:$rouge 2px solid;}

.panel .panel-heading h3 { margin:0;font-family: "Roboto", "Liberation Sans", sans-serif;font-weight: lighter;color:$turquoise;}
.panel .panel-heading { margin:0;border-bottom:$turquoise 2px solid;}

.associations{
  .item{
  display: block;
    min-height:55px;
    .nom {font-size:1.2em;}
    .spip_logo{margin-left:1em;margin-bottom: 0;}

  }


}

}



// *******************************************
// *********** PAGE ACTUALITE ***********************
// *******************************************

.rubrique_actualite{
#content{


  .alaune{


    .menu-liste{
      list-style: none;
      li.item{ clear: left;list-style: none;
        .info-publi-actu{display:inline-block;}
        .liste_theme{display:inline-block;margin:0 0.5em;}
        p{ margin:0.5em 0;}
        }
    }



  }
  .liste_actu{
    clear: left;
    .actu{ padding:0.5em 1em;margin:1em 0;
      background-color: white;
      .date-actu{
      padding: 0;
        color: $gray-light;
        abbr{text-decoration: none;}
      }
      h3{font-size:1.3em;margin:0.25em 0;padding-top:0.25em;
        img{margin-bottom:0.5em;}
      }
      .texte_carre{
        min-height: 220px;
      }

    }

    }
  }

}




